---
name: Run tests
"on":
  push:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install system libraries
        run: sudo apt install -y libbz2-dev liblzma-dev
      - uses: dlang-community/setup-dlang@v1
        name: Setting up D compiler
        with:
          compiler: dmd-latest
      - name: 'Run tests'
        run: |
          dub test
          dub test :nes
          dub test :snes
          dub test :gameboy
          dub build :helloworldgb
          dub build :helloworldsnes
          dub build :helloworldnes
      - uses: actions/upload-artifact@v4
        with:
          name: build
          path: failed
